# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PDFs
*.pdf
*.lyx

# data
*.dat
*.txt
*.bin
*image*
*.JPG
*.png
*.log
*.zip
#other
*.orig
/CppApplication_1/build/
/CppApplication_1/dist/
*~
nbproject/
*.swp
*.pyc
*data*
MNIST
